<label>Testes de Fluxo de Dados</label>
<hr>
<label for="camplofluxots">Campo fluxo somente TS</label>
<input type="text" name="camplofluxots" [value]="fluxots">
<br>
<label for="camplofluxohtmlts">Campo fluxo HTML e TS</label>
<input type="text" name="camplofluxohtmlts" [(ngModel)]="fluxohtmlts">
<p>O valor atualizado no TS prevalece desconsiderando HTML: {{fluxots}}</p>
<p>O valor atualiza-se via html e TS: {{fluxohtmlts}}</p>
<hr>
<br>
<br>
<label>Testes do Cadastro Adicionar Elementos e Visualizar</label>
<br>
<label for="name">Nome</label>
<input type="text"  [(ngModel)]="name">
<br>
<label for="name">Salario</label>
<input type="text"  [(ngModel)]="salary">
<br>
<button type="button" (click)="addEmployee()" >Adicionar Empregado</button>
<button type="button" (click)="addEmployeeComEvento($event)"> Adicionar Empregado Com Evento</button>
<hr>
<br>
<br>
<label>Testes Para Esconder e Nao Criar Elemento</label>
<div [hidden]="salary > 3000">
   <label style="color:red;">Esse item será escondido quando o salario for maior que 3000</label>
</div>
<div *ngIf="salary != 5000">
    <label style="color:blue;">Esse item será removido quando o salario for = 5000</label>
 </div>